<section>
    <div class="container py-5 d-flex justify-content-center align-item-center flex-column h-100 ">
        <div>
            <div class="text-center text-second">
                <h2 class="fw-bolder h1 fa-3x"> ERROR </h2>
                <div class="d-flex mb-3 justify-content-center">
                    <div class="b-star"></div>
                    <i class=" fa-solid fa-star fa-2x"></i>
                    <div class="b-star"></div>
                </div>
            </div>
            <div class="text-center text-second">
                <h2 >404</h2>
                <p>page not found</p>
            </div>

        </div>
    </div>

</section>