<footer class="bg-second">
    <div class="container py-5 text-white h-100 d-flex justify-content-center align-items-center">
        <div class="row col-1 col-md-2  w-100 g-5 py-5">
            <div class="col text-center">
                <h3 class="fw-bolder">LOCATION</h3>
                <p class="pt-4 h4 ">2215 John Daniel Drive Clark, MO 65243</p>
            </div>

            <div class="col text-center">
                <h3 class="fw-bolder">AROUND THE WEB</h3>
                <div class="icons d-flex justify-content-center pt-4">
                    <a class="btn btn-outline-light"> <i class="fa-brands fa-facebook-f"></i></a>
                    <a class="btn btn-outline-light">  <i class="fa-brands fa-twitter"></i></a>
                    <a class="btn btn-outline-light">  <i class="fa-brands fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light">  <i class="fa-solid fa-basketball"></i></a>
                </div>

            </div>
            <div class="col text-center">
                <h3 class="fw-bolder">ABOUT FREELANCER</h3>
                <p class="pt-4 h5 ">Freelance is a free to use, MIT licensed Bootstrap theme created by Route</p>
            </div>
        </div>
    </div>
    <div class="bg-dark py-4 d-flex justify-content-center text-center">
        <p class=" text-white m-0">Copyright © Your Website 2023 <br><a class=" text-main text-decoration-none" href="https://www.linkedin.com/in/abanoub-sameh-saif" target="_blank">Abanoub Sameh ❤</a> </p>
    </div>
</footer>