<section class="bg-main text-white text-center py-4">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 py-5">
        <div class="img-home mt-5">
            <img class="mt-5 img-fluid" src="./assets/avataaars.svg" alt="">
        </div>
        <h1 class="fw-bolder fa-4x my-4">START ANGULAR</h1>
        <div class="d-flex mb-3">
            <div class="w-star"></div>
            <i class=" fa-solid fa-star fa-2x"></i>
            <div class="w-star"></div>
        </div>
        <p class="fs-4 ">Graphic Artist - Web Designer - Illustrator</p>
    </div>

</section>